<h3>Nombre del servidor</h3>
<!--Utilizando $event lo que se hace es mandar como parámetro el dato que contiene el evento
<input type="text" class="form-control" (input)="onActualizarNombreEstado($event)">
-->
<!--Se utiliza two way data binding haciendo uso de ngModel-->
<input type="text" class="form-control" [(ngModel)]="nombreServidor">
<button class="btn btn-primary" [disabled]= "!permitirNuevoServidor" (click)="onCrearServidor()">Agregar servidor</button>
<p *ngIf="servidorCreado">El servidor fue creado, su nombre es {{nombreServidor}}</p>

<!--<p>{{estadoCreacionServidor}}</p>-->
<hr>
<app-servidor *ngFor="let servidor of servidores"></app-servidor>