<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul>
				<li class="1">Crear dos nuevos componentes, uno manual y otro utilizando el CLI</li>
				<li class="2">Mostrar un componente debajo del otro</li>
				<li class="3">Un componente será de alerta y otro de ok</li>
				<li class="4">Darle algo de estilo a cada componente</li>
			</ul>
			<p>Utiliza plantillas externas y también codigo dentro del componente, tanto para los estilos como para el html</p>
			<app-advertencia></app-advertencia>
			<app-ok></app-ok>
		</div>
	</div>
</div>

