<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Tarea número 2</h3>
      <p>
      1. Agregar un campo de texto que actualice una propiedad usando two-way-binding.<br>
      2. Imprimir la propiedad usando string-interpolation en un párrafo abajo del campo de texto.<br>
      3. Agrega un botón para resetear el valor de la propiedad que sea clickeable unicamente si la propiedad NO está vacía.<br>
      4. Cuando den click sobre el botón se debe limpiar el valor de la propiedad.<br>
      </p>
      <hr>
      <app-nombre></app-nombre>
    </div>
  </div>
</div>